<nav class="text-gray-200 shadow mb-6 bg-gray-700 pt-5">
    <div class="flex items-center">

        <a href="/">
            <h1 class="ml-10 text-3xl font-bold mb-6 text-center text-gray-100">
                Lista de Super Heroes
            </h1>
        </a>

        <div class="inline-flex space-x-4 ml-auto mr-5">

            <a href="/Dashboard"
                class="px-4 py-2 rounded-lg bg-gray-600 hover:bg-gray-500 font-semibold shadow transition">
                Lista de heroes
            </a>

            <a href="/addSuperhero"
                class="px-4 py-2 rounded-lg bg-gray-600 hover:bg-gray-500 font-semibold shadow transition">
                Agregar Superhéroe
            </a>

        </div>
    </div>
</nav>
