<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 w-full text-gray-200 min-h-screen flex flex-col">
    <header class="p-0"><%- include('partials/navbar.ejs') %></header>
    
    <main class="flex-grow"><%- body %></main>

    <footer class="w-full bg-gray-800 text-gray-400 py-4 mt-10 border-t border-gray-700"><%- include('partials/footer.ejs') %></footer>
    
</body>
</html>